<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="logfile" xsi:type="File" fileName="C:\MeusProjetos\RallyDakar\RallyDakar.API\Logs\nlog-${shortdate}.log" />
		<target name="logAPIfile" xsi:type="File" fileName="C:\MeusProjetos\RallyDakar\RallyDakar.API\Logs\nlog-API-${shortdate}.log" />


	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="info" final="true" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="logAPIfile" />
	</rules>
</nlog>